.menu {
  margin-left: 20px;
  overflow: visible;
}

.menu-toggle {
  cursor: pointer;
  font-size: 1.5rem;
}

ul.menu-dropdown {
  @include transition(opacity $ANIMATION_LENGTH);
  background: $YANKEES_BLUE;
  color: white;
  font-size: 1rem;
  list-style: none;
  margin: -5px 0;
  opacity: 0;
  padding: 0;
  position: absolute;
  visibility: hidden;
  z-index: 1;

  &.open {
    opacity: 1;
    visibility: visible;
  }

  li {
    border-bottom: 1px solid white;
    cursor: pointer;
    line-height: initial;
    padding: 5px 15px;
    white-space: nowrap;

    &:hover{
      background-color: $YANKEES-HILIGHT;
    }
  }
}

// small screens
@media all and (max-width: 500px) {
  .menu {
    margin-left: 0;
    width: 100%;

    .menu-toggle {
      display: none;
    }
  }

  ul.menu-dropdown {
    opacity: 1;
    position: relative;
    width: 100%;
    visibility: visible;
  }
}
