.yankees-header {
  background-color: white;
  border-bottom: 2px solid $YANKEES_RED;
  display: flex;
  font-size: 2rem;
  line-height: 3rem;
  /*margin-left: 25px;*/
  padding: 15px;

  img {
    height: 70px;
    margin-right: 20px;
    width: 70px;
  }
}
