.yankees-header {
  @include box-shadow(3px, 3px, 8px, 0, $yankees-blue )
  background-color: white;
  border: 2px solid $yankees-blue;
  border-radius: 12px;
  display: flex;
  font-size: 3rem;
  line-height: 7rem;
  /*margin-left: 25px;*/
  padding: 15px;

  img {
    height: 120px;
    margin-right: 20px;
    width: 120px;
  }
}
