.baseball-card {
  @include box-shadow(3px, 3px, 8px, 0, $YANKEES_BLUE );
  background: white;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  height: 300px;
  flex-direction: column;
  margin: 20px;
  min-width: 200px;
  overflow: hidden;
  position: relative;

  &:hover {
    @include box-shadow(3px, 3px, 14px, 0, $YANKEES_RED );
  }

  &.dim{
    opacity: .5;
  }

  .baseball-card-img {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    width: 100%;
  }
}

.baseball-card-header {
  background-color: $YANKEES_BLUE;
  color: white;
  font-size: 1.5rem;
  padding: .4rem;
  text-align: center;
}

.baseball-player-stat-container {
  display: inline-block;
}

.baseball-player-stat {

  align-items: center;


  border-radius: 40px;
  display: flex;
  flex-direction: column;

}

.baseball-player-stat-img {
  background-color: white;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid $YANKEES_BLUE;
  border-radius: 50%;
  display: inline-block;
  height: 80px;
  width: 80px;

  &.card{
    margin-top: -10px;
  }
}

.baseball-player-stat-img-container {
  display: flex;
  justify-content: center;
}

.baseball-player-stat-txt {
  background-color: white;
  font-size: 1rem;
  font-weight: bold;
}

.baseball-card-stats-table-container {
  @include transition(opacity $ANIMATION_LENGTH);
  background: white;
  display: flex;
  flex-direction: column;
  height: 260px;
  justify-content: center;
  opacity: 0;
  position: absolute;
  top: 40px;
  width: 100%;

  table {
    padding: 0 30px;
    width: 100%;
  }

  // &:hover {
    // opacity: 1;
  // }
}

.baseball-card-stats-table{
  font-size: 1.2rem;
}
