body {
  background: repeating-linear-gradient(
    90deg,
    $YANKEES_OFFWHITE,
    $YANKEES_OFFWHITE 80px,
    $YANKEES_BLUE 80px,
    $YANKEES_BLUE 82px
  );
  font-family: Helvetica, "Helvetica Neue", 'sans-serif';
  font-size: 10px;

}

div {
  box-sizing: border-box;
}

button {
  margin: 5px;
}
