.container {
  align-items: center;
  animation: .25s ease-out 0s 1 fadeIn;
  display: flex;
  margin: 10px;
  overflow-x: scroll;
  padding: 15px;
  transition: margin .25s;

  &.decorated {
    @include box-shadow(3px, 3px, 8px, 0, $YANKEES_BLUE );
    background: white;
    border: 2px solid $YANKEES_BLUE;
    border-radius: 12px;
  }
}

// small screens
@media all and (max-width: 500px) {
  .container {
    flex-direction: column;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
