#tree-container {
  margin-bottom: 50px;
}

.tree-branches {
  position: absolute;
  z-index: -1;
}

.tree-row {
  display: flex;
  justify-content: space-evenly;
  min-height: 90px;
}

.tree-node {
  margin: 5px;
  min-width: 70px;
}
