.yankees-header {
  background-color: white;
  border-bottom: 2px solid $YANKEES_RED;
  display: flex;
  flex-wrap: wrap;
  font-size: 1.5rem;
  justify-content: left;
  line-height: 3rem;
  padding: 15px;
  text-align: center;

  .title {
    display: flex;
    img {
      height: 50px;
      margin-right: 10px;
      width: 50px;
    }
  }
}

// small screens
@media all and (max-width: 500px) {
  .yankees-header{
    justify-content: center;
  }
}
